<div class="container mt-5">
    <div class="row" *ngIf="produto">
        <div class="col-6">
            <img src="{{produto.imagemUrl}}" alt="{{produto.nome}}" class="img-fluid w-100">
        </div>
        <div class="col-6">
            <h3>{{produto.nome}}</h3>
            <p style="font-size: 1.3em;" >{{produto.preco | currency: 'BRL'}}</p>
            <div class="d-flex justify-content-start align-items-center">
                <i class="fa fa-minus-circle mr-2" style="cursor: pointer; font-size: 2em; color: #5610c5;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">2</span>
                <i class="fa fa-plus-circle mx-2" style="cursor: pointer; font-size: 2em; color: #5610c5;"></i>
                <button class="btn btn-outline-secondary btn-lb ml-3">Adicionar ao carrinho</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 ml-3">
                <h4>Descrição</h4>
                <p>{{produto.descricao}}</p>
            </div>
        </div>
    </div>
</div>

