<div class="container">
  <div class="row">
    <section class="col-3">
      <h5 class="ml-3" style="color:blueviolet">Ordenar por:</h5>
      <select
        class="custom-select mb-3"
        (change)="sortSelec($event.target.value)"
      >
        <option *ngFor="let s of sortOptions" [value]="s.value">
          {{ s.nome }}
        </option>
      </select>

      <h5 class="ml-3" style="color:blueviolet">Marcas</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let m of marcas"
          [class.active]="m.id === this.marcaIdSelec"
          (click)="marcaSelec(m.id)"
        >
          {{ m.nome }}
        </li>
      </ul>
      <h5 class="ml-3" style="color:blueviolet">Categorias</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let c of categ"
          [class.active]="c.id === this.categIdSelec"
          (click)="categSelec(c.id)"
        >
          {{ c.nome }}
        </li>
      </ul>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span
            >Mostrando <strong>12</strong> de
            <strong>12 </strong>Resultados</span
          >
        </header>
        <div class="form-inline mt-2">
          <input
            class="form-control mr-2"
            style="width: 300px"
            placeholder="Buscar"
            type="text"
          />
          <button class="btn btn-outline-primary my-2">Buscar</button>
          <button class="btn btn-outline-success ml-2 my-2">Resetar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4" *ngFor="let p of produtos">
          <app-produto-item [produto]="p"></app-produto-item>
        </div>
      </div>
    </section>
  </div>
</div>
