.cart-no
{
    position: absolute;
    min-height: 22px;
    min-width: 22px;
    border-radius: 50%;
    font-size: 1em;
    background: #5610c5;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: #5610c5;
        font-weight: bold;
    }
}

.logo {
    cursor: pointer;
}