<carousel>
    <slide>
        <img src="assets/images/slides/slide1.webp" alt="1st slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="2nd slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="3rd slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>A&A Online Shopping - Bem-vindo!</h1>
    </div>
</section>