<carousel>
    <slide>
        <img src="assets/images/slides/slide1.webp" alt="1st slide" style="width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slides/slide2.webp" alt="2nd slide" style="width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slides/slide3.png" alt="3rd slide" style="width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>A&A Online Shopping - Bem-vindo!</h1>
    </div>
</section>